{{ form_start(productForm) }}
    {{ form_row(productForm.name) }}
    {{ form_row(productForm.description) }}
    {{ form_row(productForm.categories) }}
    {{ form_row(productForm.price) }}
    {{ form_row(productForm.stock) }}
    {{ form_row(productForm.images) }}
    {{ form_row(productForm.availability) }}

    {% if app.request.attributes.get('_route') == 'admin_products_edit' %}

        <h2>Images</h2>
        <div class="row">
            {% for image in product.images %}
                <div class="col-4">

                    <img src="{{ asset('assets/uploads/products/mini/300x300-' ~ image.name ) }}" alt="Image" width="150" class="m-3">

                    <a href="{{ path('admin_products_delete_image', {id: image.id}) }}" data-delete data-token="{{ csrf_token('delete' ~ image.id) }}">Supprimer</a>
                
                </div>
            {% endfor %}
        </div>
    
    {% endif %}

    <button type="submit" class="btn_color_larger btn_color-1">{{ button_label|default('Ajouter') }}</button>
{{ form_end(productForm) }}