{% extends 'base.html.twig' %}

{% block title %}Orders{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        {% include "_partials/_adminnav.html.twig" %}
        <main class="col-9 border border-light bg-white p-2">
            <h1>Orders</h1>

            <a href="{{ path('admin_orders_index') }}" class="no_deco btn_revenir"><- Revenir aux commandes</a>
            <div class="space"></div>

            <table class="table">
                <tbody>
                    <tr>
                        <th>Identifiant</th>
                        <td>{{ order.id }}</td>
                    </tr>
                    <tr>
                        <th>Reference</th>
                        <td>{{ order.reference }}</td>
                    </tr>
                    <tr>
                        <th>Date</th>
                        <td>{{ order.createdAt ? order.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                    </tr>
                </tbody>
            </table>


        <h3>Details de la commande :</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Image</th>
                        <th>Nom</th>
                        <th>Prix</th>
                        <th>Stock</th>
                        <th>Categorie</th>
                        <th>Disponibilité</th>
                    </tr>
                </thead>
        
                <tbody>
                    {% for produit in orderDetails %} 
                        <tr>
                            <td>{{ produit.products.id }}</td>
                            <td><img width="70px" height="70px" src="{{ asset('assets/uploads/products/mini/300x300-'~ produit.products.images[0].name ) }}" alt="{{ produit.products.name }}"></td>
                            <td>{{ produit.products.name}}</td>
                            <td>{{ produit.products.price / 100}}</td>
                            <td>{{ produit.products.stock }}</td>
                            <td>{{ produit.products.categories.name }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>


    <h3>Coordoné du client :</h3>
            <table class="table">
                <tbody>
                    <tr>
                        <th>Identifiant</th>
                        <td>{{ user[0].id }}</td>
                    </tr>
                    <tr>
                        <th>E-mail</th>
                        <td>{{ user[0].email }}</td>
                    </tr>
                    <tr>
                        <th>Nom</th>
                        <td><strong>{{ user[0].lastname }}</strong></td>
                    </tr>
                    <tr>
                        <th>Prenom</th>
                        <td><strong>{{ user[0].firstname }}</strong></td>
                    </tr>
                    <tr>
                        <th>Adress</th>
                        <td><strong>{{ user[0].address }}</strong></td>
                    </tr>
                    <tr>
                        <th>Code postal</th>
                        <td><strong>{{ user[0].zipcode }}</strong></td>
                    </tr>
                    <tr>
                        <th>Ville</th>
                        <td><strong>{{ user[0].city }}</strong></td>
                    </tr>
                </tbody>
            </table>
            
            {# <a href="{{ path('admin_orders_edit', {'id': order.id}) }}">edit</a> #}
            <a href="{{ path('admin_orders_pdf', {'id': order.id}) }}" class="no-deco">Telecherger la facture en PDF -></a>

        </main>
    </div>
</div>





    {% include "admin/orders/_delete_form.html.twig" %}
{% endblock %}
