{{ form_start(categoriesForm) }}

    {# {{ form_row(categoriesForm.existingCategory) }} #}
    {{ form_row(categoriesForm.parent) }}
    {# {{ form_row(categoriesForm.nameExisting) }} #}
    {{ form_row(categoriesForm.name) }}
    {{ form_row(categoriesForm.categoryOrder) }}

    <button type="submit" class="btn_color_larger btn_color-1">{{ button_label|default('Ajouter') }}</button>
{{ form_end(categoriesForm) }}   