{% extends "base.html.twig" %}

{% block title %}Les categories{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            {% include "_partials/_adminnav.html.twig" %}
            <main class="col-9 border border-light bg-white p-2">
                <h1>Les categories</h1>

                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Sous-categorie</th>
                            <th>Categorie-Parent</th>
                            <th>Ordre</th>
                            <th>Action</th>
                        </tr>
                    </thead>

                    <tbody> 
                       
                        {% for categorie in categories %} 
                      
                            <tr>
                                <td>{{ categorie.id }}</td>
                                <td>{{ categorie.name }}</td>
                                <td>{{ categorie.parent }}</td>
                                    {# {% if categorie.cat_parent is not null %} #}
                                        
                                    {# {% endif %} #}
                                <td>{{ categorie.categoryOrder }}</td>
                                <td>
                                    <a class="btn_modifier" href="{{ path('admin_categories_edit', {id: categorie.id}) }}">Modifier</a>
                                    <a class="btn_supprimer" href="{{ path('admin_categories_delete', {id: categorie.id}) }}">Supprimer</a>
                                </td>
                            </tr>
                            
                        {% endfor %}
                    </tbody>

                </table>

            </main>
        </div>
    </div>
{% endblock %}